<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.baidu.navi.shelldemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="com.furongwang.valentine.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name="com.furongwang.valentine.MainActivity">
        </activity>

        <service
            android:name="com.furongwang.valentine.MusicService"
            android:enabled="true"
            android:exported="true">
        </service>
        <!-- 百度 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ApGktvxZ7GLORS0jGzqCE43G"/>

        <activity android:name="com.furongwang.valentine.MapActivity">
        </activity>

        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="5b257b0cd0635a790a9e640cd008c3c4"/>

        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver">
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <service
            android:name="cn.bmob.newim.core.service.BmobIMService"
            android:process=":bmobcore"/>
        <service
            android:name="cn.bmob.newim.core.service.NotifyService"
            android:process=":bmobcore"/>
        <service android:name="cn.bmob.newim.core.service.ReConnectService"/>
        <service android:name="cn.bmob.newim.core.service.HeartBeatService"/>

        <activity android:name="com.furongwang.valentine.SplashActivity">

        </activity>
        <activity android:name="com.furongwang.valentine.houseloading.HouseActivity">
        </activity>
        <activity android:name="com.furongwang.valentine.LockActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>